# Created by .ignore support plugin (hsz.mobi)
.gradle/6.1/vcsMetadata-1/
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.idea/modules/
build/classes/java/test/generated_tests/
build/generated/
build/reports/tests/test/classes/com.myplace.member.service.MemberServiceTest$CreateTest.html
build/reports/tests/test/classes/com.myplace.member.service.MemberServiceTest$LoginTest.html
build/reports/tests/test/classes/com.myplace.member.web.controller.MemberControllerTest$LoginTest.html
build/reports/tests/test/classes/com.myplace.member.web.controller.MemberControllerTest$createTest.html
build/reports/tests/test/classes/com.myplace.place.service.PlaceServiceTest$KeywordTest.html
build/reports/tests/test/classes/com.myplace.place.service.PlaceServiceTest$SearchTest.html
build/reports/tests/test/classes/com.myplace.place.web.controller.PlaceSearchControllerTest$KeywordTest.html
build/reports/tests/test/classes/com.myplace.place.web.controller.PlaceSearchControllerTest$LoginTest.html
build/reports/tests/test/classes/com.myplace.place.web.controller.PlaceSearchControllerTest.html
build/reports/tests/test/packages/com.myplace.member.service.html
build/reports/tests/test/packages/com.myplace.place.service.html
build/reports/tests/test/packages/com.myplace.place.web.controller.html
build/test-results/test/TEST-com.myplace.member.service.MemberServiceTest$CreateTest.xml
build/test-results/test/TEST-com.myplace.member.service.MemberServiceTest$LoginTest.xml
build/test-results/test/TEST-com.myplace.member.web.controller.MemberControllerTest$LoginTest.xml
build/test-results/test/TEST-com.myplace.member.web.controller.MemberControllerTest$createTest.xml
build/test-results/test/TEST-com.myplace.place.service.PlaceServiceTest$KeywordTest.xml
build/test-results/test/TEST-com.myplace.place.service.PlaceServiceTest$SearchTest.xml
build/test-results/test/TEST-com.myplace.place.web.controller.PlaceSearchControllerTest$KeywordTest.xml
build/test-results/test/TEST-com.myplace.place.web.controller.PlaceSearchControllerTest$LoginTest.xml
build/test-results/test/TEST-com.myplace.place.web.controller.PlaceSearchControllerTest.xml
build/tmp/compileJava/
build/tmp/compileTestJava/
src/test/resources/
